body{
    padding:50px;
    background-image: url('bg.jpg');
    background-size: cover; /* Ajoute cette ligne pour couvrir tout l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}
.containerr{
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    /* padding-top: 1000px; */

}
.form-group{
    margin-bottom:30px;
}